*{
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    margin: 0;
}

.container1{
    position: relative;
    width: 100%;
    height: 850px;
    text-align: center;
    vertical-align: middle;
}
.container1::after{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://blog.kakaocdn.net/dn/cEN4u4/btqw56Cgzym/M1LLhoNPh0BM6oyeEkJQf1/img.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 그림화면을 뒤로보내는작업*/
    opacity: 0.5;
}

.head_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;    /*쓸데없는 공백 제거*/
    padding: 0;   /*쓸데없는 공백 제거*/
    list-style-type : none;  /*목록 기호 제거*/
    background-color: #288CFF;
}

.head_item{
    padding: 20px;
    cursor: pointer;  /*마우스 커서 포인터로*/
}

.head_item:hover{
    background-color: black;
}

.head_item a {    /*head_item 클래스 내의 a요소들 선택*/
    text-align: center;
    text-decoration: none; /*밑줄 없애기*/
    color: white;
}

.sec1{
    margin-top: 200px;
}

.samyang_logo{
    width: 500px;
    height: 230px;
    display: block;
    margin: auto;
    border-radius: 10%;
}

.container2{
    position: relative;
    width: 100%;
    height: 650px;
    text-align: center;
    vertical-align: middle;
}
.container2::after{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://www.ygosu.com/community/board/download.yg?idx=2943339");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 그림화면을 뒤로보내는작업*/
    opacity: 0.5;
}


section2 {
    text-align: center;
    height: 550px;
}

h2{
    margin-top: 0px;
}

.youtube_recipe{
    width: 50%;
    height: 550px;
    display:inline-block;
    border-right: 2px solid black;
}

.recipe_taste {
    width: 49%;
    float: right;
}

.tuna {
    width: 64%;
    display:inline-block;
}

.sausage {
    width: 35%;
    float: right;
}

.Dongwon_tuna {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.Big_farm {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.container3{
    position: relative;
    width: 100%;
    height: 850px;
    text-align: center;
    vertical-align: middle;
}
.container3::after{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://data.ygosu.com/upload_files/board_yeobgi/1444364/5bbb15799f669.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 그림화면을 뒤로보내는작업*/
    opacity: 0.5;
}

footer {
    text-align: center;
}

.Mukbang {
    position: absolute;
    top: 37%;
    bottom: 0;
    left: 0;
    right: 0;
}

#youtube{
    text-align: center;
}
