.d-block{
    width: 800px;
    height:500px;
    margin-top: 55px;
    display: block;
    margin-left: 110px;
}
#myCarousel{
    background-color: rgb(64, 64, 64);
    width: inherit;
    height: 600px;
}
.carousel-caption {
  bottom: 2rem;
  z-index: 10;
  width: 1080px;
}
 .featurette-divider {
  margin: 1rem 0;
}

.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.05rem;

}
#tony img{
    width: 400px;
    height: 400px;
}
#Aicar img {
    box-sizing: content-box;
    width: 400px;
    height: 400px;
}
.container{
    max-width: 1000px;
}
#logo{
    margin-right: 10px;
}

.row{
    margin-top: 5%;
}